/* Light mode overrides */
:root {
  /* MAIN BRAND COLOUR (header, active nav items) */
  --md-primary-fg-color: #003366;
  --md-primary-fg-color--light: #336699;
  --md-primary-fg-color--dark: #001a33;

  /* ACCENT COLOUR (links, highlight) */
  --md-accent-fg-color: #cc3300;
}

/* Dark mode overrides */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #66a3ff;
  --md-accent-fg-color: #ff9966;
}
