site_name: AI Course Notes

theme:
  name: material
  features:
    - navigation.expand
    - navigation.sections
    - toc.integrate
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode


markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - css/custom.css  

nav:
  - Home: index.md
  - Chapters:
      - "Foundations":
          - Overview: chapters/1. Foundations/Foundations.md
          - "Probability Theory":
              - Overview: chapters/1. Foundations/1. Probability Theory/0_Probability_Theory.md
              - Page 1: chapters/1. Foundations/1. Probability Theory/page1.md
              - Page 2: chapters/1. Foundations/1. Probability Theory/page2.md
          - "Statistical Inference":
              - Overview: chapters/1. Foundations/2. Statistical Inference/0_Statistical_Inference.md
              - Page 1: chapters/1. Foundations/2. Statistical Inference/page1.md
          - "Linear Algebra":
              - Overview: chapters/1. Foundations/3. Linear Algebra/index.md
      - "Supervised Learning":
          - Overview: chapters/2. Supervised Learning/index.md
      - "Unsupervised Learning":
          - Overview: chapters/3. Unsupervised Learning/index.md